body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1d1d1d;
    color: white;
}

header {
    background: #3A8524;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url("img/fondo-minecraft.jpg");
    background-size: cover;
    background-position: center;
    padding: 120px 40px;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    text-shadow: 3px 3px 0px black;
}

.section {
    padding: 60px 40px;
}

h2 {
    font-size: 40px;
    color: #70C74F;
}

.colors {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.color {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
}

.pixel-font {
    font-family: "Courier New", monospace;
    font-size: 26px;
    background: #2E2E2E;
    padding: 10px 20px;
    width: fit-content;
}

.gallery {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.gallery img {
    width: 30%;
    border-radius: 10px;
}

.sponsors {
    display: flex;
    gap: 40px;
    margin-top: 25px;
}

.sponsors img {
    width: 150px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 60px;
    font-size: 18px;
}
